        .button-group a {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .panel-customs-margin {
            padding: 20px 4em 0 20px;
        }

        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(img/loader.gif) center no-repeat #fff;
            background-size: 2em;
        }