<div class="account-card-container">
    <md-card>
        <md-toolbar color="primary">Sign in</md-toolbar>
        <md-card-content>
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && signin()" novalidate>
                <div>
                    <br />
                    <br />
                    <md-input-container class="full-width">
                        <input type="text" mdInput [(ngModel)]="model.username" name="username" #username="ngModel" placeholder="email" (keyup)="clearMessages()" required>
                        <md-error>
                            Required
                        </md-error>
                    </md-input-container>
                    <br />
                    <br />
                    <md-input-container class="full-width">
                        <input type="password" mdInput [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="password" (keyup)="clearMessages()" required>
                        <md-error>
                            Required
                        </md-error>
                    </md-input-container>
                    <br />
                    <div *ngIf="errorMessages.length > 0" class="has-error">
                        <div *ngFor="let errorMessage of errorMessages">
                            <small>{{ errorMessage.description }}</small>
                        </div>
                    </div>
                    <br />
                </div>
                <div>
                    <button md-raised-button color="accent" type="submit" class="full-width">Sign in</button>
                </div>
            </form>
        </md-card-content>
    </md-card>

</div>