<!-- START BORDERED TABLE SAMPLE -->
<div class="panel panel-default panel-customs-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{ tableTitle }}</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary pull-left" routerLinkActive="active-link" (click)="redirect()">
            <i class="fa fa-plus" aria-hidden="true"></i>Create New
        </a>
    </div>
    <div class="panel-body panel-body-table">
        <table class="table table-bordered" *ngIf="tableKeys != null">
            <thead>
                <th>#</th>
                <th *ngFor="let col of tableColumns">{{ col }}</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableRows; let i = index">
                    <td>{{ enumerate - 9 + i}}</td>
                    <td *ngFor="let key of tableKeys"> {{ row[key] }}</td>
                    <td>
                        <div class="button-group">
                            <a class="btn btn-warning"><i class='glyphicon glyphicon-pencil'></i>Edit</a>
                            <a class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>Delete</a>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger" role="alert" *ngIf="tableKeys == null">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Info!</strong> No data to show.
        </div>
        <div *ngIf="totalItems >0  && allowPagination">
            <ng-pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" (pageChanged)="pageChanged($event)"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First" last-text="Last"></ng-pagination>
        </div>


    </div>
</div>
<!-- END BORDERED TABLE SAMPLE -->