﻿<!--Page title-->
<app-title [title]="PageTitle" [type]="Tip"></app-title>
<!--End Page title-->
<table-dinamic [tableRows]="tableRows" [tableKeys]="tableKeys" (settPage)="settPage($event)" [tableTitle]="titleTable" [allowPagination]="allowPagination"
    [totalItems]="totalitems" [itemsperpage]="itemsperpage" [tableColumns]="tableCols"></table-dinamic>