<!--Title of page-->
<app-title [title]="'Create Partie'" [type]="'create'"></app-title>
<!--End title of page-->

<!--Errors-->
<appc-error-summary [errors]="errors"></appc-error-summary>
<!--end Errors-->

<!--Form create template-->
<appc-dynamic-form (formsubmit)="create($event)" [name]="'Partie'" [controls]="controls" [btnText]="'Create'"></appc-dynamic-form>
<!--End Form create template-->