<div *ngIf="signedIn | async">
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a routerLink="/dashboard">Admin</a>
                    <a routerLinkActive="active-link" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a class="profile-mini">
                        <img src="assets/images/users//no-image.jpg" alt="{{name}}" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="assets/images/users/no-image.jpg" alt="{{name}}" />
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name"> {{ name }} </div>
                            <div class="profile-data-title"> About </div>
                        </div>
                        <div class="profile-controls">
                            <a class="profile-control-left"><span class="fa fa-info"></span></a>
                            <a class="profile-control-right"><span class="fa fa-envelope"></span></a>
                        </div>
                    </div>
                </li>
                <li class="xn-title">Navigation</li>
                <li class="active">
                    <a routerLinkActive="active-link" routerLink="/dashboard"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                </li>
                <li class="xn-openable">
                    <a routerLinkActive="active-link"><span  class="fa fa-clipboard"></span> <span class="xn-text">Cereri</span></a>
                    <ul>
                        <li><a routerLinkActive="active-link" routerLink="/cereri/parti"><span class="fa fa-th"></span> Parti</a></li>
                    </ul>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                <li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="Search..." />
                    </form>
                </li>
                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a routerLinkActive="active-link" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <!-- END SIGN OUT -->
                <!-- MESSAGES -->
                <li class="xn-icon-button pull-right">
                    <a routerLinkActive="active-link"><span class="fa fa-comments"></span></a>
                    <div class="informer informer-danger">4</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                            <div class="pull-right">
                                <span class="label label-danger">4 new</span>
                            </div>
                        </div>
                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">

                        </div>
                        <div class="panel-footer text-center">
                            <a href="#">Show all messages</a>
                        </div>
                    </div>
                </li>
                <!-- END MESSAGES -->
                <!-- TASKS -->
                <li class="xn-icon-button pull-right">
                    <a routerLinkActive="active-link"><span class="fa fa-tasks"></span></a>
                    <div class="informer informer-warning">3</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">

                        <div class="panel-body list-group scroll" style="height: 200px;">

                        </div>
                        <div class="panel-footer text-center">
                            <a>Show all tasks</a>
                        </div>
                    </div>
                </li>
                <!-- END TASKS -->
                <!-- Translate -->
                <li class="xn-icon-button pull-right">
                    <a routerLinkActive="active-link" style="font-size:+1.5em;"><span class="label"><span class="flag-icon flag-icon-{{language}}"></span> {{language.toUpperCase()}}</span></a>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" style="width: 7em;">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px">

                            <a *ngFor="let lang of languages" (click)="setLang(lang)" class="list-group-item">
                                <span class="contacts-title"> <span><span class="flag-icon flag-icon-{{lang.locale}}"></span> {{ lang.locale.toUpperCase() }}</span></span>
                            </a>

                        </div>
                        <div class="panel-footer text-center">

                        </div>
                    </div>
                </li>
                <!-- END Translate -->
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a routerLinkActive="active-link">Home</a></li>
                <li class="active">Dashboard</li>
            </ul>
            <!-- END BREADCRUMB -->
            <!-- PAGE CONTENT WRAPPER -->
            <div class="page-content-wrap">

                <!--Content of view-->
                <router-outlet></router-outlet>
                <!--End content of view-->

            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a class="btn btn-success btn-lg" (click)="signout()">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->
</div>


<div id="notlogged">

    <!--Content of view-->
    <router-outlet></router-outlet>
    <!--End content of view-->

</div>