<form class="{{formClass}}" (ngSubmit)="onSubmit()" [formGroup]="form" role="form">
    <div class="panel panel-default panel-customs-margin">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>{{name}}</strong> Form</h3>
        </div>
        <div class="panel-body">
        </div>
        <div class="panel-body form-group-separated">
            <!--Controls-->
            <appc-dynamic-control *ngFor="let ctrl of controls" [control]="ctrl" [form]="form"></appc-dynamic-control>
            <!--End Controls-->
        </div>
        <div class="panel-footer">
            <a class="btn btn-info" style="margin-right:3em;" (click)="back()"><i class="fa fa-arrow-left"></i>Back To List</a>
            <button class="btn btn-danger" type="reset">Clear Form</button>
            <button class="btn btn-success" type="submit"[disabled]="!form.valid">{{btnText}}</button>
        </div>
    </div>
</form>